header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.gallery {
    display: flex;
    gap: 4px;
    margin: 10px 20%
}

.card {
    position: relative;
    left: 0px;
    width: 80px;
    border-radius: 4px;
    padding: 8px;
    height: 30px;
    background-color: white;
    transition: 0.4s ease-in-out;
    flex: 1;
    display: flex;
    align-items: center;
}

.card:nth-child(1) {
    background-color: red;
}

.card:nth-child(2) {
    background-color: orange;
}

.card:nth-child(3) {
    background-color: yellow;
}

.card:hover {
    flex: 3;
    font-weight: bold;
    cursor: pointer;
}

.questionFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20%
}

.gifFrame {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    margin: 10px 20%
}

p {
    background-color: cyan;
}