body {
    height: 100%;
    width: 100%;
    margin: 0;

    color: white;
    background: radial-gradient(circle at 50% 60%, #8590d3, #1e013c);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.gallery {
    display: flex;
    gap: 4px;
    margin: 10px 20%
}

.card {
    position: relative;
    left: 0px;
    width: 80px;
    border-radius: 4px;
    padding: 8px;
    height: 30px;
    background-color: white;
    transition: 0.4s ease-in-out;
    flex: 1;
    display: flex;
    align-items: center;
}


.card:nth-child(1) {
    background-color: rgb(44, 19, 99);
}

.card:nth-child(2) {
    background-color: rgb(44, 19, 99);
}

.card:nth-child(3) {
    background-color: rgb(44, 19, 99);
}

.card:hover {
    flex: 3;
    font-weight: bold;
    cursor: pointer;
}

.questionFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20%;
    flex-direction: row;
}

.gifFrame {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20%;
    /* background-color: purple; */
    /* background: radial-gradient(#e66465, #9198e5); */

}

.gifBorder {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#prompt {
    margin: 10px;
}